---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex justify-center flex-col gap-10 mt-10 items-center">
		<article class="flex justify-center flex-col w-10/12 h-64 bg-purple-500 rounded-lg text-center shadow-sm" >
			<h1 class="text-white text-4xl px-8 font-normal italic">Social Media <span class="text-Yellow-500 font-thin ">10x</span> Fasyer with AI</h1>
			<img class="w-40 mx-auto mt-4 mb-1" src="illustration-five-stars.webp" alt="">
			<h6 class=" text-gray-300 font-medium ">Over 4,000 5-star reviews</h6>
		</article>

		<article class="flex justify-center flex-col w-10/12 h-30 bg-white rounded-lg text-center shadow-sm" >
			<img src="illustration-multiple-platforms.webp" alt="">
			<h2 class="text-2xl font-extralight text-left my-3 ml-2 leading-5">Mange multiple accounts and platforms.</h2>
		</article>
		<article class="flex justify-center flex-col w-10/12 h-30 bg-Yellow-500 rounded-lg text-center max-h-36 shadow-sm" >
			<h2 class="text-2xl font-normal text-left my-3 ml-2 leading-5">Maintain a consistent posting schedule.</h2>
			<img  class="w-[200px] h-60  ml-2 overflow-auto " src="illustration-consistent-schedule.webp" alt="">
			
		</article>
		<article class="flex justify-center flex-col w-10/12  bg-purple-100 rounded-lg text-center shadow-sm" >
			<h2 class="text-2xl font-medium  my-3 ml-2 ">Shedule to social media.</h2>
			<img class="w-11/12 mx-auto" src="illustration-schedule-posts.webp" alt="">
			<p class="px-9 my-4">Optimize post timings to publish content at the perfect time for your audience</p>
		</article>
		<article class="flex justify-center flex-col w-10/12  bg-purple-500 rounded-lg text-center shadow-sm" >
			<img class="w-[220px] mx-auto my-8" src="public/illustration-grow-followers.webp" alt="">
			<p class="text-white text-3xl px-4 font-bold leading-6 my-4">Grow followers with non-stop content.</p>
		</article>
		<article class="flex justify-center flex-col w-10/12 h-30 bg-white shadow-sm rounded-lg text-left  " >
			<h2 class="text-4xl font-extralight text-left my-6 leading-5 ml-4 ">>56%</h2>
			<p class="ml-4 my-2 text-gray-800" >faster audience growth</p>
			<img class="w-40 ml-4 mb-4" src="public/illustration-audience-growth.webp" alt="">
		</article>
		<article class="flex justify-center flex-col w-10/12 h-30 bg-Yellow-100 rounded-lg text-left shadow-sm" >
			<p class="ml-4 my-2 font-medium text-2xl">Create and schedule content <span class="text-purple-500 font-light italic">quicker.</span></p>
			<img class="w-40 ml-4" src="public/illustration-create-post.webp" alt="">
		</article>
		<article class="flex justify-center flex-col w-10/12 h-30 bg-Yellow-500 rounded-lg text-left shadow-sm" >
			<p class=" my-4 font-medium text-2xl px-6 leading-5">Write your content using AI.</p>
			<img class="w-40 ml-4" src="public/illustration-ai-content.webp" alt="">
		</article>
	</main>
</Layout>

